---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Jonathan Cote Portfolio',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->
  <Hero
    id="hero"
    title="Jonathan Cote"
    tagline=""
    actions={[{ variant: 'primary', text: 'Contact Me', href: getPermalink('/contact') }]}
  >
    <Fragment slot="subtitle">
      **TODO: fill with quick introduction**
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: '#',
        },
      },
    ]}
    image={{
      src: '',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        
      </p>
      <br />
      <p>
       
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `Bachelor of Science in Computer Science <br /> <span class="font-normal">University of Victoria</span> <br /> <span class="text-sm font-normal">2020 - 2024</span>`,
        description: `• Computer Graphics and Gaming Specialization <br /> 
                      • Dean's List for Academic Excellence <br />
                      • Graduated with Distinction`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Machine Learning Developer Co-op <br /> <span class="font-normal">Energy In Cities, Victoria, BC</span> <br /> <span class="text-sm font-normal">01/2022 - 08/2022</span>',
        description: `• Spearheaded redesign of the Machine Learning (ML) pipeline to expand supported building data sets and reduce model training times, 
                      resulting in overall compute time saving of 50% to achieve project objectives. <br /> 
                      • Developed robust tooling to streamline research initiatives, reducing complexity of development, training and
                      testing new ML models. <br /> 
                      • Maintained the GitLab repository and comprehensive wiki documentation, reducing onboarding time for new
                      researchers and developers, resulting in faster project ramp-up and knowledge transfer.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

<!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle=""
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'C++',
        description: '',
      },
      {
        title: 'Python',
        description: '',
      },
      {
        title: 'C',
        description: '',
      },
      {
        title: 'C#',
        description: '',
      },
      {
        title: 'OpenGL',
        description: '',
      },
      {
        title: 'SQL',
        description: '',
      },
      {
        title: 'Computer Graphics',
        description: '',
      },
      {
        title: 'Computer Animation & Simulation Systems',
        description: '',
      },
      {
        title: 'Geometric Modeling',
        description: '',
      },
      {
        title: 'Machine Learning & AI',
        description: '',
      },
      {
        title: 'Data Structures & Algorithms',
        description: '',
      },
      {
        title: 'Data Compression',
        description: '',
      },
      {
        title: 'Computer Communications and Networking',
        description: '',
      },
      {
        title: 'Version Control Systems',
        description: '',
      },
      {
        title: 'Client Driven Development',
        description: '',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Projects"
    information={``}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />
  
</Layout>


